* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    overflow: auto;
}

#navbar {
    background-color: #333;
    overflow: auto;
    color: #fff;
}

#navbar a {
    color: #fff;
}

#navbar h1 {
    padding-top: 20px;
    float: left;
}

#navbar ul {
    float: right;
    list-style: none;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
    background-color: #444;
    color: #f7c08a;
}